.overlay{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    position: fixed;
}
.layer{
    background: linear-gradient(to bottom, #ceff1a, #bcff0d, #a9ff01, #93ff00, #7aff00);
}
.layer-1{
    flex: 1;
}
.layer-2{
    flex: 1;
}
.layer-3{
    flex: 1;
}
.layer-4{
    flex: 1;
}
.layer-5{
    flex: 1;
}
.layer-6{
    flex: 1;
}
.layer-7{
    flex: 1;
}
.layer-8{
    flex: 1;
}
.layer-9{
    flex: 1;
}

.layer-text{
    font-size: calc(10px + 3vh);
    font-weight: 900;
    margin-top: 200%;
    color: black !important;
    opacity: 0;
}